body {
  background-color: #010101;
  color: #a3d34b;
  margin: 0 auto;
  text-align: center;
}

#overlay {
  display: none;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=80);
}

#logo {
  margin-top: 50px;
}

#winner {
  display: none;
}

#game-board {
  background: #222222 url("../img/game-board.png") no-repeat center;
  border: 3px solid rgba(68, 68, 58, .5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-radius: 5px;
  height: 348px;
  margin: 25px auto;
  padding: 3px;
  width: 468px;
}

#game-board > div {
  float: left;
  height: 68px;
  width: 92px;
}

#game-board > div > img {
  margin-top: 18px;
}

.xtra-margin-left {
  margin-left: 2px;
}

.xtra-margin-top {
  margin-top: 2px;
}

.xtra-margin {
  margin: 2px 0 0 2px;
}

#game-winner {
  background-color: rgba(68,68,58,.5);
  border: 3px solid rgba(163, 211, 75, .5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  display: none;
  height: 300px;
  left: 50%;
  margin-left: -200px;
  margin-top: -357px;
  position: fixed;
  width: 400px;
}

/* refactor !!! */
.btn-play-again {
  -moz-box-shadow:inset 0px 1px 11px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 11px 0px #caefab;
  box-shadow:inset 0px 1px 11px 0px #caefab;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
  background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  background-color:#77d42a;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #268a16;
  display:inline-block;
  color:#306108;
  font-family:arial;
  font-size:39px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #aade7c;
}.btn-play-again:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
  background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
  background-color:#5cb811;
}.btn-play-again:active {
  position:relative;
  top:1px;
}
